*
  box-sizing: border-box

body
  +reg
  color: $text-color

img
  display: none

a
  text-decoration: none
  color: $text-color
  cursor: pointer
  &:hover
    color: darken($main-color, 10%)

.image
  display: inline-block
  max-width: 100%

.container
  width: 1170px
  margin: auto

@media (max-width: 1200px)
  .container
    max-width: 760px
    width: 95%

@media (max-width: 768px)
  .container
    max-width: 580px
    width: 95%

@media (max-width: 567px)
  .container
    max-width: 292px
    width: 95%

@media (max-width: 320px)
  .container
    max-width: 292px
    width: 87%

.button
  +bold
  font-size: 13px
  background-color: $main-color
  padding: 19px 30px 20px 29px
  border-radius: 10px
  border: none
  outline: none
  
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer

@media (max-width: 992px)
  .button:hover
    background-color: $main-color
    cursor: default

  a
    cursor: default
    &:hover
      color: $text-color
    

@media (max-width: 567px)
  .button
    font-size: 10px
    border-radius: 5px

// Описание секций
.section
  padding: 90px 0

  &-title
    +bold
    text-align: center

  &-subtitle
    display: block

.input
  font-size: 15px
  line-height: 24px
  padding: 20px 25px 19px 25px
  border: 1px solid $border-input
  border-radius: 10px
  outline: none
  &:focus
    border-color: $main-color

  &.invalid
    border: 1px solid red

// Сообщение об ошибке
div.invalid
  position: absolute
  font-size: 10px
  color: red

.offer__form
  #offer-phone-error
    &.invalid
      margin-top: -115px
      margin-left: 260px
  
  #offer-username-error
    &.invalid
      margin-top: -115px
      margin-left: 5px

#brif-form
  #brif-email-error.invalid, #brif-phone-error.invalid, #brif-username-error.invalid
    margin-top: -92px
    margin-left: 10px

@media (max-width: 1200px)
  .offer__form
    #offer-phone-error.invalid, #offer-username-error.invalid
      margin-top: -85px
      margin-left: 10px

@media (max-width: 768px)
  #brif-form
    #brif-email-error.invalid, #brif-phone-error.invalid, #brif-username-error.invalid
      margin-top: -92px
      margin-left: 55px

  .section
    padding: 45px 0

@media (max-width: 567px)
  #brif-form
    #brif-email-error.invalid, #brif-phone-error.invalid, #brif-username-error.invalid
      margin-top: -82px
      margin-left: 10px

  .offer__form
    #offer-phone-error.invalid, #offer-username-error.invalid
      margin-top: -84px
      margin-left: 10px

  .section
    padding: 45px 0

    &-title
      font-size: 18px

    &-subtitle
      font-size: 14px

  .arrows
    &__left, &__right
      &:hover
        cursor: pointer